@charset "utf-8";


#PC_MENU{
	display:none;
}
#LOGO img{
	width:110px;
}

/* ヘッダ */
#LOGO{
	width:100%;
	text-align: center;
}
#LOGO img{
	margin-top:15px;
}
/* ナビの設定 */
#SP_MENU{
	text-align: center;
}
#SP_MENU li{
	display:inline-block;
	cursor: pointer;
	margin:0 4px;
	font-size: 2.4rem;
}
#SP_MENU li,#SP_MENU li *{
	vertical-align: bottom;
}

/* ハンバーガー */
#PC_MENU{
	background:#ff6d77;
	padding:10px;
}
#PC_MENU li{
	list-style: none;
	font-weight:normal;
	border-bottom:1px solid #fff;
}
#PC_MENU li:nth-child(4){
	border: none;
	margin-bottom:-10px;
}



/* PageTopボタンの設定 */
#PAGE_TOP{
	text-align: center;
}

/* Footerナビの設定 */
footer li{
	margin:0 1px;
}

/* 検索 */
#SEARCH_ENGINE h4{
	display:none;
}

/* ABOUT & SHOP INFO */
.sub_pict{
	width:40%;
	padding:15px 3%;
	float:left;
}
.sub_text{
	padding:10px 2%;
	width:50%;
	float:right;
}
.more_button{
	text-align:left;
}

#pc_img{
	display:none;
}
#sp_img{
	margin:15px auto;
	font-size:1.6rem;
	text-align:center;
	color: #8a8168;
	font-weight: bold;
}

}


#menu {
  cursor: pointer;
}
.sp_menu_toggle {
  display: none;
}